.theme_main_normal .overcb {
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 0px;
    background-color: var(--sectionHeader);
}
.theme_main_normal .overcb_c {
    z-index: 1;
    width: 100%;
    height: 100%;
}
.theme_main_normal .content {
    width: 100%;
    height: calc(100% - 30px);
    z-index: 1;
}
.theme_main_normal .content_real {
    width: 100%;
    height: 100%;
}
.theme_main_normal .content_real2 {
    width: 100%;
    background-color: var(--chatBg);
    height: 100%;
    overflow: scroll;
}
.theme_main_normal .title {
    width: 100%;
    height: 30px;
    color: var(--font);
    font-size: 16px;
    font-family: 'Segoe UI', 'Noto Sans', sans-serif;
}
.theme_main_normal .title_content {
    position: relative;
    left: 5px; /* From "Handheld Status" screen */
}
