@import url(theme-default.css);
body {
	min-height: 100vh;
	margin: 0;
	font-family: sans-serif;
	background-color: white;
	color: var(--font);
	background-color: var(--bg);
}
input:focus {
	outline: none
}
#container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
#header {
	width: 100%;
	height: 50px;
	background-color: var(--header);
	font-size: 16pt;
	display: flex;
	align-items: center;
	position: relative;
}
.headeritem {
	height: 50px;
	border-radius: 0;
	border: 0;
	background-color: var(--headerItem);
	color: var(--headerFont)
}
.headeritem:hover { background-color: var(--headerItemH); }
.headeritem:active { background-color: var(--headerItemA); }
.headerLeft {
	position: absolute;
	left: 0px;
	height: 100%;
}
.headerRight {
	position: absolute;
	right: 0px;
	height: 100%;
}
#content {
	width: 100%;
	display: flex;
}
.section {
	height: calc(100vh - 90px);
	display: flex;
	flex-direction: column; 
}
.sectionHeader {
	width: calc(100% - 10px);
	height: 30px;
	display: flex;
	align-items: center;
	background-color: var(--sectionHeader);
	position: relative;
	padding: 0 5px;
}
.sectionHeader button {
	height: 100%;
	margin: 0;
	min-width: 50px;
	border: 0;
	color: var(--sectionHeaderButtonFont);
	background-color: var(--sectionHeaderButtonBg);
}
.sectionHeader button:hover {
	color: var(--sectionHeaderButtonFontH);
	background-color: var(--sectionHeaderButtonBgH);
}
.sectionHeader button:active {
	color: var(--sectionHeaderButtonFontA);
	background-color: var(--sectionHeaderButtonBgA);
}
/* Chat screen */
#chatInput {
	height: 30px;
	background-color: var(--chatInput);
	color: var(--chatInputFont);
	border: 0
}
#chatContent {
	width: calc(100% - 10px);
	background-color: var(--chatBg);
	overflow-y: scroll;
	padding: 0 5px;
	color: var(--chatFont);
}
#chatContent p.message-cmderror {
	background-color: var(--chatBgError);
}
#chatContent p.message-cmdwarn {
	background-color: var(--chatBgWarning);
}
#chatContent p.message-cmdsuccess {
	background-color: var(--chatBgSuccess);
}
#chatContent p.message-cmdoutput {
	background-color: var(--chatBgOutput);
}
#chatContent p.message-chat {
	background-color: var(--chatBgMessage);
}
#chatContent p {
	margin: 0
}
#chatContent p .dk { color: black }
#chatContent p .db { color: #00a }
#chatContent p .dg { color: #0a0 }
#chatContent p .da { color: #0aa }
#chatContent p .dr { color: #a00 }
#chatContent p .dp { color: #a0a }
#chatContent p .dy { color: #fa0 }
#chatContent p .dw { color: #aaa }
#chatContent p .lk { color: #555 }
#chatContent p .lb { color: #55f }
#chatContent p .lg { color: #5f5 }
#chatContent p .la { color: #5ff }
#chatContent p .lr { color: #f55 }
#chatContent p .lp { color: #f5f }
#chatContent p .ly { color: #ff5 }
#chatContent p .lw { color: white }
#chatContent p .chat_bold { font-weight: 800; }
#chatContent p .chat_italic { font-style: oblique; }
#chatContent p .chat_ul { text-decoration-line: underline; }
#chatContent p .chat_st { text-decoration-line: line-through; }
#chatContent p .chat_st.chat_ul { text-decoration-line: line-through underline; }
#chatContent p .dmh { background-color: var(--darkModeHighlight); }
#chatContent p .lmh { background-color: var(--lightModeHighlight); }
#chatContent p .chat_uuid { display: none; }
#chatInputContainer {
	width: 100%;
	position: relative;
	display: flex;
}
#chatInput {
	width: calc(100% - 50px);
	position: relative;
}
#chatInputContainer button {
	height: 100%;
	margin: 0;
	min-width: 50px;
	border: 0;
	color: var(--sendButtonFont);
	background-color: var(--sendButtonBg);
}
#chatInputContainer button:hover {
	color: var(--sendButtonFontH);
	background-color: var(--sendButtonBgH);
}
#chatInputContainer button:active {
	color: var(--sendButtonFontA);
	background-color: var(--sendButtonBgA);
}
/* Players screen */
#playerContent {
	width: 100%;
	background-color: var(--playerBg);
	overflow: scroll;
}
.playerItem {
	color: var(--playerFont);
}
.playerItem:hover {
	background-color: var(--playerBgHover);
}
/* Login screen */
#loginPanelContent {
	width: 100%;
	height: calc(100% - 30px);
	background-color: #bbbbbb;
}
.loginPage {
	align-items: center;
	justify-content: center;
	height: 100vh
}
.loginScreen {
	align-items: center;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.loginScreen input {
	width: 238px;
	height: 38px;
	margin: 10px;
	padding: 5px;
	border: 1px solid darkgray
}
.loginScreen button {
	width: 250px;
	height: 50px;
	margin: 10px;
	padding: 5px;
	border: 1px solid darkgray
}
#loginSection {
	height: 500px;
	width: 450px;
}
input, button, select {
	font-family: sans-serif;
}
#contextMenu2 {
	width: 200px;
	background-color: #aaa6;
	position: absolute;
	z-index: 1000;
}
.contextMenu2Item {
	border: 0px;
	width: 100%;
	text-align: left;
	height: 30px;
	color: var(--contextMenuFont);
	background-color: var(--contextMenuBg);
}
.contextMenu2Item:hover {
	color: var(--contextMenuFontH);
	background-color: var(--contextMenuBgH);
}
.contextMenu2Item:active {
	color: var(--contextMenuFontA);
	background-color: var(--contextMenuBgA);
}


/* Sidebar */
#sidebar {
	position: absolute;
	left: 0;
	top: 0;
	width: 250px;
	background-color: var(--sidebarBg);
	height: 100%;
	z-index: 999;
}
#sidebarc {
	position: absolute;
	width: 100%;
	height: 100%;
	background: var(--sidebarBgOuter);
	z-index: 1000;
}
#sidebarc.sbHidden {
	display: none;
}
#sidebar button.sidebar-tab {
	width: 100%;
	height: 50px;
	border: 0;
}
#sidebar button {
	color: var(--sidebarFont);
	background-color: var(--sidebarButtonBg);
}
#sidebar button:hover {
	color: var(--sidebarFontH);
	background-color: var(--sidebarButtonBgH);
}
#sidebar button:active {
	color: var(--sidebarFontA);
	background-color: var(--sidebarButtonBgA);
}
@media screen and (max-width: 600px) {
	#loginSection {
		height: calc(100vh - 20px);
		width: calc(100vw - 20px);
	}
	.mobileHide {
		display: none;
	}
	#playerContent {
		height: 100%;
	}
	#chatContent {
		height: calc(100% - 30px);
	}
	.section {
		width: 100%;
		height: calc(100vh - 50px);
	}
	/*.section:not(.mobileView) { display: none }*/
}

noscript {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2147483647;
	background-color: #fff;
}
button {
	color: var(--buttonFont);
	background-color: var(--buttonBg);
}
button:hover {
	color: var(--buttonFontH);
	background-color: var(--buttonBgH);
}
button:active {
	color: var(--buttonFontA);
	background-color: var(--buttonBgA);
}
@media screen and (min-width: 601px) {
	#playerSection {
		width: 20%;
		margin: 20px 20px 20px 10px;
	}
	.desktopHide {
		display: none;
	}
	#playerContent {
		height: calc(100% - 30px);
	}
	#chatSection {
		width: 80%;
		margin: 20px 10px 20px 20px;
	}
	#chatContent {
		height: calc(100% - 60px);
	}
	/*.section:not(.mobileView) { display: none }*/
}