@import url('../bs_original.css');
.theme_main_normal .windowButton {
    width: 30px;
    height: 30px;
    border-width: 0px;
    position: relative;
    z-index: 1;
}
.theme_main_normal .windowButton_real {
    height: 30px;
    display: flex;
    align-items: end;
    justify-content: center;
    font-weight: 400;
    position: relative;
    z-index: 2;
}
.theme_main_normal .buttons {
    position: absolute;
    right: 9px;
    border-width: 0px 1px 1px 1px;
    display: flex;
    top: 9px;
    font-size: 16px;
    line-height: 1;
    font-family: sans-serif;
    right: 0px;
    top: 0px;
}
.theme_main_normal .buttonClose {
    background-color: var(--sectionHeaderButtonBg);
}
.theme_main_normal .buttonClose::before {
    content: "×";
    text-align: center;
    width: 100%;
    display: block;
    font-size: 30px;
    pointer-events: none;
}
.theme_main_normal .buttonClose:hover {
    background-color: var(--sectionHeaderButtonBgH);
}
.theme_main_normal .buttonClose:active {
    background-color: var(--sectionHeaderButtonBgA);
}
.theme_main_normal .buttonMin, .theme_main_normal .buttonMax {
    display: none;
}
